
#brigh
ACTION=="add", SUBSYSTEM=="backlight", KERNEL=="intel_backlight", RUN+="/bin/sh -c 'echo 10000 > /sys/class/backlight/intel_backlight/brightness'"
ACTION=="add", SUBSYSTEM=="backlight", KERNEL=="intel_backlight", RUN+="/bin/chown tor /sys/class/backlight/intel_backlight/brightness"
ACTION=="add", SUBSYSTEM=="backlight", KERNEL=="intel_backlight", RUN+="/bin/chmod 664 /sys/class/backlight/intel_backlight/brightness"
#vol
ACTION=="add", SUBSYSTEM=="sound", RUN+="/bin/sh -c 'amixer sset Master 9% >/dev/null'"

KERNEL=="kvm", MODE="0666"

ACTION=="add", KERNEL=="sda1", RUN+="/bin/mkdir -p /mnt/sda1", RUN+="/bin/mount /dev/sda1 /mnt/sda1"
ACTION=="add", KERNEL=="sda2", RUN+="/bin/mkdir -p /mnt/sda2", RUN+="/bin/mount /dev/sda2 /mnt/sda2"
ACTION=="add", KERNEL=="sda3", RUN+="/bin/mkdir -p /mnt/sda3", RUN+="/bin/mount /dev/sda3 /mnt/sda3"


